<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplane.mapper.ReplyMapper">

    <insert id="create">
        insert into sim_reply(replyid, testid, replyer, reply)
        values(#{replyid}, #{testid}, #{replyer}, #{reply})
    </insert>

    <select id="read" resultType="com.simplane.domain.ReplyVO">
        select * from sim_reply where replyid=#{replyid}
    </select>

    <delete id="delete">
        delete from sim_reply where replyid = #{replyid}
    </delete>

    <update id="update">
        update sim_reply set
        reply = #{reply}
        where replyid = #{replyid}
    </update>

</mapper>